
html.no-js(lang="zh-TW")
  head
    meta(charset="utf-8")
    meta(
      content="width=device-width, initial-scale=1" 
      name="viewport"
      )
    title 最穩健的聚財之路
    link(
      href="css/style.css" 
      rel="stylesheet"
      )
    link(
      href="css/main.scss" 
      rel="stylesheet"
      )
    link(href="css/common.scss", rel="stylesheet")
  body
    section
    section.item
      img(
        alt="" 
        src="img/image.png"
        )
      h1 關於我們
      p 透過教育幫助人們擁有自由人生！
      img(
        alt="" 
        src="img/image_2.png"
        )
    section.item.item-2
      h1 經營理念
      p 核心：勇於突破，沒有極限
      p 定位：提升財富與生活的頂級教練
      p 使命：幫助人們！理解人生遊戲規則，得以掌握，活得精彩
      .card
        h1 我們的優勢
        .content
          p
            | 團隊夥伴
            span 30人
          p
            | 成功推廣過課程
            span 超過30種
            | 以上
          p
            | 每個月舉辦
            span 上百場講座
          p
            | 每個月
            span 上萬人報名
            | 講座
          p
            span 一條龍
            | 課程規劃 (推廣 ➡ 成交 ➡ 課程)
    section.item
      h1 市場規模-我們的戰績
      img(
        alt="" 
        src="img/iamge_3.png"
        )
    section.item
      h1 千里馬需要伯樂，伯樂也需要千里馬
      .card-group
        .card
          img.cover(
            alt="" 
            src="img/image_4.png"
            )
          h2.sub-title
            | 講師關鍵技術
            span 50%
        .card
          img.cover(
            alt="" 
            src="img/image_4.png"
            )
          h2.sub-title
            | 講師關鍵技術
            span 50%
    section.item.bg-item
      h1.title 完整專案流程才能成功銷售
      .head-img
        img(
          alt="" 
          src="img/img_1.png"
          )
      .after-img
        h1.sub-title(style="color: rgb(197, 151, 92)") 專案規劃流程
        img(
          alt="" 
          src="img/img_2.png"
          )
    section.item
      h1.title 接案＆合作提案
      img(
        alt="" 
        src="img/img_3.png"
        )
    section.item
      .card
        h2.title 流程 - 一切從這開始
        img(
          alt=" " 
          src="img/img_4.png"
          )
    section.footer
      div(class="footer__info")
        p 聚財課有限公司
        p 地址: 台北市信義區信義路五段7號
        p 電話: 02-1234-5678
        p 信箱: 42886924
        p 客服專線：0809-007-600
        div(class="footer__extra")
          | 【公司聲明】
          br
          | 本公司業務僅販售財金領域書籍或影片教材，課程教學服務不涉及推廣，不需台灣金融服務監管機構獲得許可/註冊的金融服務。若有人以本公司名義推廣金融產品，歡迎與本公司來電檢舉
      div(class="footer__copyright") COPYRIGHT © 2015 - 2024 聚財課有限公司